<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"><img src="~/adminTheme/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="~/adminTheme/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="~/adminTheme/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>