@model List<BookingApiLocationSearchViewModel>
@{
    Layout = null;
}

<div class="container">
    <br /><br />
    @using(Html.BeginForm("Index","SearchLocationID",FormMethod.Post))
    {
        <lable>Şehir Adını Giriniz</lable>
        <input type="text" class="form-control" name="cityName" />
        <br />

        <br />
        <button class="btn btn-primary">Şehir İçin ID Bul</button>
    }
    <table class="table table-bordered">
        <tr>
            <th>Lokasyon</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>
            </tr>
        }
    </table>
    <br />
    <a href="/BookingByCity/Index/" class="btn btn-dark">Yeni Otel Rezervasyon Bilgisi</a>
</div>

